.loader-container {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  background: #f0f0f0;
  opacity: 0.6;
}

.loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid;
  background-image: linear-gradient(#f0f0f0, #f0f0f0),
    linear-gradient(0deg, #ff0000, #00ff00, #0000ff);
  border-radius: 10px;
  animation: borderMove 5s linear infinite;
}

@keyframes borderMove {
  0% {
    border-image: linear-gradient(0deg, #ff0000, #00ff00, #0000ff) 1;
  }
  25% {
    border-image: linear-gradient(90deg, #ff0000, #00ff00, #0000ff) 1;
  }
  50% {
    border-image: linear-gradient(180deg, #ff0000, #00ff00, #0000ff) 1;
  }
  75% {
    border-image: linear-gradient(270deg, #ff0000, #00ff00, #0000ff) 1;
  }
  100% {
    border-image: linear-gradient(0deg, #ff0000, #00ff00, #0000ff) 1;
  }
}
