@use '../../../../styles/variables' as variables;

.specification-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid variables.$border_gray_color;
  padding: 40px;
  height: calc(100vh - 200px);
}

.info-block {
  padding: 10px 0;
}
.info-block__title {
  padding-bottom: 10px;
  color: variables.$gray_color;
}
.info-block__description {
  font-weight: bold;
}
