// colors
$main_color: #e74c3c;
$background_button_color: #fff2ee;
$border_color: #af8c7e;
$accent_color: #F47244FF;
$background_color: #f7b19c;
$gray_color: #9d9b9b;
$border_gray_color: #f2f2f2;


// const
$row_height: 66px;
