@use '../../../../../styles/variables' as variables;

.automakers-cell {
  display: flex;
  align-items: center;
}
.expand-icon {
  transform: rotate(0);
}
.expand-icon--rotate {
  transform: rotate(-90deg);
}
.automakers-cell__sub-row-count {
  text-align: center;
  display: inline-block;
  border: 1px solid variables.$border_gray_color;
  border-radius: 50%;
  font-size: 12px;
  height: 12px;
  width: 12px;
}
