@use '../../styles/variables' as variables;

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
  height: variables.$row_height;
  background-color: #ffffff;
}

thead th {
  text-align: left;
  color: variables.$gray_color;
}
.table-header__filter-cell--first {
  padding-left: 72px;
}

tr {
  height: variables.$row_height
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}
td {
  background-color: inherit;
  padding: 10px;
  border: 1px solid variables.$border_gray_color;
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

td:not(:first-child):not(:last-child) {
  border-right: none;
  border-left: none;
}
