.automakers-header {
  position: relative;
  display: flex;
}

.automakers-header__checkbox-wrapper {
  padding-left: 10px;
  position: absolute;
  top: 24px;
}

.automakers-header__title {
  padding-left: 72px;
}
